<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Human in the loop design and optimization.</h2>
                <hr class="light">
                <p class="text-faded">Something about Adam and Eva here.
                  Design improvements from human and machine symbiosis,
                  incorportaing expert knowlegde and physical models with machine learning.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
