<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Human in the loop design and optimization.</h2>
                <hr class="light">
                <p class="text-faded">We belive that the human and the machine are suboptimal in isolation.
                  Our name Adam and Eva (pronounced Ay-vah) reflects our belief in combining human and artifical inteligence for true optimality.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
